<header>
  <!-- logo -->
  <img id="logoEcommerce" src="/assets/MiEcommerce.svg" alt="logo" />
  <!-- search bar -->
  <form class="search" action="#">
    <input type="text" placeholder="Buscar productos..." name="search" />
    <button type="button" class="magnifying">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <!-- cart button -->
  <button type="button" class="cartButton">
    <i class="fa-solid fa-moon"></i>
  </button>
  <!-- dropdown menu -->
  <div class="dropdown-content">
    <img class="picdpn" src="/assets/ProfilePic.png" alt="Olivia" />
    <p class="textdpn">Olivia</p>
    <a href="">Inicio</a>
    <a href="">Mis compras</a>
    <a href="">Favoritos</a>
    <a href="">Historial</a>
    <p class="theme">
      <i class="fa-solid fa-moon-cloud"></i>Cambiar Tema Oscuro
    </p>
    <!--<div class="Tema">lala</div>-->
  </div>
  <!-- button olivia -->
  <div class="dropdown">
    <button type="button" class="dropdownbtn">
      <div class="buttonElements">
        <div>
          <img class="profilePic" src="/assets/ProfilePic.png" alt="Olivia" />
        </div>
        <div class="alignname"><p>Olivia</p></div>
      </div>
    </button>
  </div>
  <script src="/js/header.js"></script>
</header>
